<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">

    <!-- 自动扫描的包路径 -->
    <context:component-scan base-package="com.zhrt.controller"/>
    <!-- 异常拦截器 -->
    <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        <property name="exceptionMappings">
            <props>
                <prop key="org.apache.shiro.authz.UnauthorizedException">/error/refuse</prop>
                <prop key="org.apache.shiro.authz.ShiroException">/login</prop>
                <!-- <prop key="java.lang.Exception">/error/500</prop> -->
            </props>
        </property>
    </bean>
    <!-- 防恶意访问拦截器 -->
    <!--<mvc:interceptors>-->
        <!--<mvc:interceptor>-->
            <!--<mvc:mapping path="/**"/>-->
            <!--<mvc:exclude-mapping path="/login"/>-->
            <!--<mvc:exclude-mapping path="/index"/>-->
            <!--<mvc:exclude-mapping path="/error/**"/>-->
            <!--<mvc:exclude-mapping path="/register/**"/>-->
        <!--</mvc:interceptor>-->
    <!--</mvc:interceptors>-->
</beans>